@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 100%; 
}

body {
    color: #222222;
    margin: 0;
    font-family: "Poppins";
    width: 100%;
}  

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #0d6e00;
}

.header {
    width: auto;
    text-align: center;
    padding: 0;
    margin-top: 5rem; 
}

.menu {
    width: auto;
    text-align: center;    
    font-weight: bold;    
}

.menu-links {
    list-style: none; 
    padding: 0;   
}

.menu-links li {
    display: inline-block;
    padding: 0 1.25rem; 
}

.banner {
    width: 100%;
    text-align: center;
}

.banner p {
    font-size: 2.5rem; 
    text-align: left;
    padding-left: 10%; 
    padding-right: 10%;
}

.banner img {
    width: 90%;
}

.coluna {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.cafe {
    width: 40% !important;
    width: 200px;
    animation: flutuar 3s ease-in-out infinite;
}

.botao {
    background-color: #a7c4a3;
    border-radius: 2.5rem; 
    padding: 3%; 
    font-size: 1.25rem; 
}

.cardapio {
    box-sizing: border-box;
    border-top: 1px dashed #999999;
    width: 90%;
    margin: auto;
    max-width: 43.75rem; 
    text-align: center;
    margin-top: 6.25rem; 
    padding: 3.125rem 1rem 0.625rem 1rem; 
}

.cardapio-categoria {
    text-align: left;
    color: #063600;
    font-size: 1.375rem; 
    margin-top: 3.125rem; 
}

.cardapio-item {
    padding-top: 1.25rem; 
    text-align: left; 
    width: 85%;   
}

.cardapio-item {
    border-bottom: none;
    background-color: #ceddcc;
    padding: 1.25rem;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.03); 
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 1.5rem auto;
}

.cardapio-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
}

.cardapio-nome {
    display: inline-block;
    font-size: 1.125rem; 
    font-weight: bold;
}

.cardapio-preco {        
    font-size: 1.125rem;     
    float: right;
    color: #063600;
}

.cardapio-descricao {
    font-size: 0.75rem; 
    color: #999999;
}

footer {
    margin-top: 6.25rem; 
    width: auto;
    text-align: center;
    padding: 3.125rem; 
    font-size: 0.875rem; 
    color: #000000;
    background-color: #89a885;
}

footer p {
    margin: 0.2rem;
    color: #222222;
}

.link-whatsapp img {
    width: 2.5rem; 
    position: fixed;
    right: 1.25rem; 
    bottom: 1.25rem; 
}


@media (max-width: 56.25em) { 
    .coluna {
        width: 100%;
        vertical-align: middle;
        margin-bottom: 1.875rem; 
    }

    .banner p {
        font-size: 1.625rem; 
        text-align: center;
        padding-left: 5%; 
        padding-right: 5%;
    }
}

    @keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-40px); }
    100% { transform: translateY(0); }
}